@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*
{
    color: inherit;
    --colorAccent: #0CF;
    scroll-behavior: smooth !important;
    font-family: Roboto;
}

::selection
{
    background-color: var(--colorAccent);
}

body, html
{
    background-color: #252526;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.titlebar
{
    -webkit-app-region: drag;
    width: 100vw;
    height: 32px;
    display: grid;
    grid-template-columns: 32px 1fr 32px 32px 32px;
    align-items: center;
    justify-items: center;
    gap: 16px;
    background-color: #333;
    position: fixed;
    z-index: 9999999999;
}

h1
{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.titlebar img
{
    max-width: 20px;
}

.titlebar button
{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.titlebar button:hover
{
    background-color: #333;
}

.titlebar button img
{
    max-width: 10px;
}

main
{
    min-height: 100vh;
    display: flex;
    margin-top: 32px;
}

div.editorContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

nav
{
    font-family: Roboto;
}

nav.openFiles
{
    background-color: #252526;
    height: 40px !important;
    border-left: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav.openFiles a
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-inline: 1px solid #1E1E1E;
    font-size: .7em;
    height: 99%;
    overflow: hidden;
    padding-inline: 10px;
    min-width: 100px;
}

nav.openFiles h2
{
    font-weight: normal;
    padding-right: 10px;
}

.selectedFile
{
    background-color: #1E1E1E;
    border-bottom: 2px solid var(--colorAccent);
    display: flex;
}

nav.openFiles button
{
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 5px;
}
nav.openFiles button:hover
{
    background-color: #FFFFFF22;
}

nav.sidebar
{
    min-width: 200px;
}

.editor
{
    font-family: "Consolas";
    font-size: 18px;
    background-color: #1E1E1E;
    color: white;
    border: none;
    outline: none;
    resize: none;
    overflow: scroll;
    height: 100%;
}
